{% extends 'base.html' %}
{% block title %} About Me {% endblock %}
{% block hrefnav1 %}{%  url 'form' %}{% endblock %}
{% block titlenav1 %}Form{% endblock %}
{% block hrefnav2 %}{%  url 'index' %}{% endblock %}
{% block titlenav2 %}Home{% endblock %}

{% block content%}
    <p class="text-center fs-1 position-absolute top-50 start-50 translate-middle">Project_Django_01</p>
    <p class="text-center fs-4 position-absolute bottom-0 start-50 translate-middle-x">Create by Kaseamsan Keawjeen</p>

{% endblock%}